.advertisement-banner {

    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 1px rgba(0,0,0,.1);
    overflow: hidden;
    position: fixed;
    top: 4rem;
    z-index: 32;
    background-color: white;

    @mixin atSmall {
        max-width: 450px;
    }
    

    &__title {
        width: 100%;
        font-size: 1.4rem;
        padding: 10px 18px;
        background-color: #b8b6b6;    
    }

    &__close {
        width: 45px;
        height: 38px;
        position: absolute;
        transform: scaleX(1.2);
        transform-origin: 100 0;
        cursor: pointer;
        top: 0px;
        right: 0px;
        font-size: 1.4rem;
        text-align: center;
        padding-top: 8px;
    }

    &__close:hover,
    &__close:focus {
        color: red;
        
    }

    &__friend-request {
        padding: 10px 18px;
        width: 100%;
        border-bottom: 1px dotted gray;
    }

    &__content {
        padding: 18px 18px;
        
    }

    &__logo {
        border-radius: 80px;
        overflow: hidden;
        width: 80px;
        height: 80px;
        border: 6px solid rgba(255,255,255,.8);
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        
    }

    &__connect {
        padding: 10px 18px;
        text-align: center;
        background-color: #616161;
        color: white;
        cursor: pointer;
    }

    &__connect:hover,
    &__connect:focus {
        background-color: $mainBlue;
    }

}

.modal {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.7);
    transition: all .3s ease-out;

    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}



