.btn {
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.2rem;
    border: none;

    &--larger {
        padding: .7rem 3.2rem;
    }

    &--centered {
        margin-left: auto;
        margin-right: auto;
    }


    &:hover {
        background-color:darkblue;
    }


}

