.btn {
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.2rem;
    border: none;

    &--larger {
        padding: .7rem 1.2rem;
    }

    &:hover {
        background-color:darkblue;
    }


}

