.form--registration {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

.form-registration > div input[type="email"],
.form-registration > div input[type="password"],
.form-registration > div input[type="text"],
.form-registration > div input[type="number"],
.form-registration > div input[type="tel"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin: 0 40px;
    width: 86%;
    border: 1px solid #cdcdcd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-registration > div input[type="email"]:focus,
.form-registration > div input[type="password"]:focus,
.form-registration > div input[type="text"]:focus,
.form-registration > div input[type="number"]:focus,
.form-registration > div input[type="tel"]:focus {
    border: 1px solid $mainBlue;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);
}

.form-registration > div input[type="email"]:hover,
.form-registration > div input[type="password"]:hover,
.form-registration > div input[type="text"]:hover,
.form-registration > div input[type="number"]:hover,
.form-registration > div input[type="tel"]:hover {
    border: 1px solid $mainBlue;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);
}

.form--home >div input[type="number"] {
    width: 100%;
    margin: 0;
}

.form--home >div input[type="number"]:focus,
.form--home >div input[type="number"]:hover
 {
    border: 1px solid $mainBlue;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);

}

input[type="radio"] {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    transform: translateX(-50%);
    margin-bottom: 10px;
}