.headline {
    font-weight: 300;

  &--l-margin {
      margin-left: 4.8rem;
  }

  &--centered {
      text-align: center;
  }

  &--less-margin {
      margin-bottom: 0px;
  }

  &--red {
      color: $mainBlue;
      font-weight: 400;
  }

}