.hero {
    position: relative;

&__image {
    width: 100%;
    height: 300px;
    margin-bottom: 1.4rem;
}

&__content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

&__title {
    font-weight: 300;
    text-shadow: 2px 2px 2px lightgray;
    color: red;
}

}
