.row {

    &--gutters {
        column-gap: 65px;
    }
    &--gutters-large {
        column-gap: 100px;
    }
    &--gutters-small {
        column-gap: 45px;
    }

    &--medium-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &--medium-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &--medium-12 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}