.site-nav {
    
ul {
    padding: 0;
    margin: 0;
    @mixin clearfix;
    margin-top: -2.7rem;
    margin-right: 1rem;
}

li {
    float: left;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: $mainBlue;
}

a:hover {
    color: blue;
}

&--pull-right {
    float: right;
}

}